
/*...............*/
body {
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Serif', serif;
    background: white;
}

.form-container {
    width: 80%;
    max-width: 900px;
    margin: 100px auto;
    text-align: center;
}

.form-title {
    background-color: #C62828;
    color: white;
    padding: 15px;
    width: 60%;
    margin: 0 auto 40px auto;
    border-radius: 25px;
    font-size: 22px;
    font-weight: bold;
}

.reg-form {
    width: 100%;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.input-group {
    width: 48%;
    text-align: left;
}

.input-group label {
    font-size: 16px;
    margin-bottom: 5px;
    display: block;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #bbb;
    border-radius: 5px;
    font-size: 14px;
}

/* BUTTON */
.btn-wrapper {
    margin-top: 30px;
}

.submit-btn {
    background-color: #0C5406;
    color: white;
    padding: 12px 35px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #0A3F05;
}
/* ---------------- FOOTER ---------------- */
.footer {
    background-color: #F1392C;
    color: black;
    padding: 40px 20px;
    display: flex;              /* make the footer a flex container */
    justify-content: flex-start; /* logo on left, columns next */
    align-items: flex-start;     /* align items at the top */
    gap: 120px;                  /* space between logo and columns */
    flex-wrap: wrap;            /* wrap on smaller screens */
}

.footer-logo img {
    width: 150px;
    height: 300px;
}

.footer-columns {
    display: flex;
    flex-direction: row;        /* horizontal columns */
    margin-top: -20px;  /* move columns up by 10px */
    justify-content: flex-start;
    align-items: flex-start;
    gap: 200px;                  /* space between each column */
}

.footer-column {
    min-width: 200px;
    text-align: center; 
}

.footer-column h4 {
    margin-bottom: 10px;
    font-size: 22px;
    margin-bottom: 15px;
}

.footer-column p {
    font-size: 20px;
    margin: 8px 0;         /* vertical space between paragraphs */
    line-height: 1.6;      /* spacing between lines inside a paragraph */
}




